body {
            background-color: #ede9dd;
}
p {
   color:#b74b00;/* Цвет текста */
}
h1 {
    color: #b74b00; /* Цвет текста */
}
h2 {
    color: #b74b00; /* Цвет текста */
}
h3 {
    color: #b74b00; /* Цвет текста */
}